iv{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 10px;
}

p {
    background-color: chartreuse;
    margin: 10px;
}

span {
    background-color: tomato;
    display: block;
    height: 20px;
    width: 50px;
}